body{
    margin: 0.1px;
}
.home{
position: fixed;
    /*overflow: hidden;*/
    background-color:black;
    width: 100%;
    top: 0;
    padding: 15px;
}
.home a{
    color: white;
    padding: 40px 40px 40px 40px;
    text-decoration: none;
    font-size: 17px;

}
.content{
    /*position: relative;*/
    /*top: 100px;*/
    color: blue;
    margin-top: 100px;
}